
#sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
#usuarios td, #usuarios th {
    border: 1px solid #ddd;
    padding: 8px;
  }

#usuarios tr:hover{
    background-color: #ddd;
}
